html, body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 600px;
  height: 1px;
}

.sel-container {
  display: table;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

.sel-column {
  display: table-cell;
  height: 100%;
  padding: 10px;
  border-right: 2px solid black;
  vertical-align: top;
  background-color: #FFF;
}

.sel-column.one-third {
  width: 33.333%;
}

.sel-column.two-third {
  width: 67.776%;
}

.sel-column:last-child {
  border: none;
}

.sel-action {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  padding: 15px;
  text-align: center;
}

.sel-sel {
  margin-bottom: 30px;
}

.sel-sel select {
  display: block;
  margin: 10px auto;
  background: transparent;
  border: none;
  height: 29px;
  padding: 2px;
  width: 100%;

  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 2px;
  border-style: solid;
  border-color:black;
  border-image: initial;
}

.sel-form + .sel-form {
  margin-top: 30px;
}

.my_submit submit  {
    height: 40px;
    width: 100px;
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 50px;
    color: #3B8EC2;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
    float: right;
}

.my_submit submit:hover {
    background-color: black;
    color: #FFF;
    transition: 0.4s;
}
